.footer {
  background: #111;
  color: #fff;
  padding-top: 50px;
  margin-top: 50px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  padding: 0 20px 40px;
}

.footer-section h3 {
  margin-bottom: 15px;
}

.footer-logo {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section p {
  color: #ccc;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: white;
}

/* Newsletter */
.newsletter {
  display: flex;
  margin-top: 10px;
}

.newsletter input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.newsletter button {
  background: crimson;
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}

/* Bottom Bar */
.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  padding: 15px;
  font-size: 0.9rem;
  color: #aaa;
}